*{
    margin: 0px;    
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(255, 235, 205);
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(34, 36, 41);
    flex-wrap: wrap;

}
.nav{
    display: flex;
}

.barra-Navegacion{
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(0, 1, 3);
    width: 100px;
    height: 25px;
    border-radius: 05px;
    margin: 10px;
    padding-left: 05px;
}
.barra-Navegacion a{
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.novedades{
    display: block;
    box-sizing: border-box;
    justify-content:space-between;
    background-color: aqua;
    font-size: 35px;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contacto{
    background-color: aqua;
}

.nosotros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aqua;
    border-radius: 15px;
}

.textoNosotros{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
    display: flex;
    background-color: rgb(35, 50, 82);
    border-block-end: unset;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
}

.pieDePagina{
    display: flex;
    background-color: rgb(35, 50, 82);
    position: relative;
    width: 100%;
    margin-top: 1%;
}

.monitoresDelIndex {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px 20px; 
    grid-template-areas: 
    "monitorIndex1 monitorIndex2 monitorIndex3"; 
}

.monitorIndex1{
    grid-area: monitorIndex1;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 0px;
    padding: 20px;
}

.monitorIndex2{
    grid-area: monitorIndex2;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 0px;
    padding: 20px;
}

.monitorIndex3{
    grid-area: monitorIndex3;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 0px;
    padding: 20px;
}

.h5{
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.monitoresDelIndex2{
    
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
    "monitorIndex4 parrafos parrafos"
    "monitorIndex4 parrafos2 parrafos2"; 
    margin: 10px;
    margin-left: 0px;
}

.monitorIndex4{
    grid-area: monitorIndex4;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(133, 133, 133);
    border: 0px;
}

.parrafos{
    grid-area: parrafos;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(133, 133, 133);
    border-radius: 10px;
    font-size: 50px;
}

.parrafos2{
    grid-area: parrafos2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(133, 133, 133);
    border-radius: 10px;
    font-size: 50px;
}

footer {
    position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background:rgb(35, 50, 82);
}

.productos{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "texto monitorproductos1 monitorproductos1"
    "texto monitorproductos2 monitorproductos2";
}

.texto{
    grid-area: texto;
    background-color: aqua;
    overflow: hidden;
    font-size: 35px;
    text-align: left;
}

.monitorproductos1{
    grid-area: monitorproductos1;
    background-color: aqua;
    margin-left: 25px;
    border-radius: 10px;
}

.monitorproductos2{
    grid-area: monitorproductos2;
    background-color: aqua;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 10px;
}

@media (max-width: 1070px){
    
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul.nav{
        display: flex;
        flex-direction: column;
    }
    .monitoresDelIndex{
        display: flex;
        flex-direction: column;
    }
    .monitoresDelIndex2{
        display: flex;
        flex-direction: column;
    }
    .parrafos2{
        display: flex;
        justify-content: flex-end;
    }
    .productos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .novedades{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #monitornovedades{
        flex-direction: column;
        align-items: center;
    }
    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacto fieldset{
        background-color: brown;
        border: solid black;
        width: 350px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 05px;
    }

    .contacto legend{
        background-color: blue;
    }
    .nosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}    

.imagenlogo{
    animation-name: imagenlogo1;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 01s;
}

@keyframes imagenlogo1{
    0%{
        transform: rotate(72deg);
    }
    25%{
        transform: rotate(144deg);
    }
    50%{
        transform: rotate(216deg);
    }
    75%{
        transform: rotate(288deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

.botonesindex{
    color: #fff;
    background-color: cadetblue;
}

.producto1{
    background-color: aqua;
}

.producto2{
    background-color: aqua;
}

#card1{
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
}

#card2{
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
}